<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SENDTO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/osdesk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/osdesk"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ntasks"
        tools:targetApi="31">
        <activity
            android:name=".rents.ExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".rents.hrAddEmployee"
            android:exported="false" />
        <activity
            android:name=".rents.TenantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.BusinessVendorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.MasterBiVendors"
            android:exported="false" />
        <activity
            android:name=".rents.AddBusinessVendorsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.CollectionsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.hrAddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".rents.MasterBiVendors$TenantDetails"
            android:exported="false" />
        <activity
            android:name=".rents.ContractsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.TenantsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddTenantActivity"
            android:exported="false" />
        <activity
            android:name=".rents.PlotDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.IndependentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.FlatDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.ApartmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddPlotsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddIndependentActivity"
            android:exported="false" />
        <activity
            android:name=".rents.IndependentActivity"
            android:exported="false" />
        <activity
            android:name=".rents.VendorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.OwnerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddFlatsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.TenantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddApartmentsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.OtherPropActivity"
            android:exported="false" />
        <activity
            android:name=".rents.FlatsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.ApartmentsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.PlotsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.PropertiesActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddVendorsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.VendorsActivity"
            android:exported="false" />
        <activity
            android:name=".rents.AddOwnersActivity"
            android:exported="false" />
        <activity
            android:name=".rents.OwnersActivity"
            android:exported="false" />
        <activity
            android:name=".hrmaster"
            android:exported="false" />
        <activity
            android:name=".rents.rentsmaster"
            android:exported="false" />
        <activity
            android:name=".testify"
            android:exported="false" />
        <activity
            android:name=".taskviewlist"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Master"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddTaskActivity" />
        <activity android:name=".TaskDetailsActivity" />
        <activity android:name=".MyAssignedTasksActivity" />
        <activity android:name=".AssgnTaskDetailsActivity" />
        <activity android:name=".AddClientActivity" />
        <activity android:name=".ClientTasksActivity" />
        <activity android:name=".AllTasksActivity" />
        <activity android:name=".AllTasksDetailsActivity" />
        <activity android:name=".PersonalTasksActivity" />
        <activity android:name=".CompletedTasksActivity" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:hardwareAccelerated="false" />

        <receiver
            android:name=".TaskNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.ntasks.NOTIFY_TASK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".TestReceiver" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>